@use "./helpers/_mixins.sass" as *;
:root{
  --main-clr: #000;
  --bg-clr: #fff;
  --bg-secondary: #9ad0d4;
  --gray: hsl(228, 60%, 96%);
  // transition ;
  --tran-d : 400ms
}
*{
  box-sizing:border-box;
}
body{
  background-color: var(--bg-clr);
  margin:0;
  color: var(--main-clr);
  font-family: sans-serif;
  height: 400vh;
  display: grid;
  grid-template-columns: 70px 1fr;
  grid-template-rows: 100px 1fr;
  @include media("tablet"){
    grid-template-columns: 130px 1fr;
  }
}
a {
  color: inhrit;
  text-decoration: none;
}
button{
  border:none;
}