@use "../helpers/_mixins.sass" as *;
header {
  background-color: var(--br-primery);
  display: flex;
  align-items: center;
  justify-content: space-between;
  .search-bar {
    display: flex;
    align-items: center;
    border: 2px solid var(--bg-secondary);
    border-radius: 0.3em;
    width: fit-content;
    box-sizing: content-box;

    /* the initial values for width and opacity */
    --input-width: 0;
    --input-opacity: 0;
    /* and this the values when hover and focus on the input */
    /* this is what i call css hack */
    --input-width-to: 100px;
    --input-opacity-to: 1;
    &:hover {
      --input-width: var(--input-width-to);
      --input-opacity: var(--input-opacity-to);
    }
    input {
      background-color: transparent;
      border: none;
      &:focus {
        outline: none;
      }
      transition-duration: var(--tran-d);
      font-weight: 100;
      margin-left: 10px;
      width: var(--input-width);
      opacity: var(--input-opacity);
      &:focus {
        --input-width: var(--input-width-to);
        --input-opacity: var(--input-opacity-to);
      }
      &::placeholder {
        font-size: 0.8em;
      }
    }
    .icon-wraper {
      width: 18px;
      min-width: 18px;
    }
    @include media("tablet") {
      --input-width: 180px;
      --input-opacity: 1;
      --input-width-to: 180px;
      font-size: 1.3rem;
    }
  }
  .user-menu {
    .notification {
      position: relative;
      width: fit-content;
      cursor: pointer;
      .bell {
        transform-origin: top center;
        width: 30px;
        .waves {
          opacity: 0;
        }
        &:hover {
          animation: swinging 1s forwards alternate;
          .waves {
            animation: blink var(--tran-d) forwards alternate 3 steps(5);
          }
        }
      }
      // massages counter
      .ms-counter {
        position: absolute;
        right: 0;
        top: 0;
        transform: translate(40%, -15%);
        font-weight: 800;
        font-size: max(0.8vw, 0.55em);
        padding: 3px;
      }
    }
  }
}
