@use "../helpers/_mixins.sass" as *;
.nav {
  grid-row: 1/-1;
  box-shadow: 15px 16px 40px -32px rgba(0, 0, 0, 0.8);
  min-height: 100vh;
  .logo {
    font-size: 1.1rem;
    position: relative;
  }
  .nav-links {
    [data-active] {
      width: calc(100% - 0.3125rem);
      height: 50px;
      border-radius: 0 4px 4px 0 ;
      background-color: rgba(0, 0, 0, 0.05);
      top: 0;
      right: 0;
      transition: 600ms;
      border-left: 2px solid var(--bg-yellow);
      // &::before {
      //   content: "";
      //   border-radius: 8px;
      //   width: 2px;
      //   height: 100%;
      //   display: block;
      //   overflow: hidden;
      //   background-color: var(--bg-yellow);
      // }
    }
    .nav-link {
      box-sizing: content-box;
      user-select: none;
      height: 40px;
      cursor: pointer;

      .icon-wraper {
        width: 20px;
        min-width: 18px;
      }
    }
  }
  @include media("tablet") {
    .logo {
      font-size: 1.8rem;
      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: -0.25em;
        transform: translateX(-50%);
        background-color: var(--clr-main, #000);
      }
      &::before {
        width: 1.8em;
        height: 2px;
        border-radius: 3px;
      }
      &::after {
        width: 7px;
        height: 7px;
        outline: 0.13em solid var(--bg-primery);
        border-radius: 50%;
        transform: translate(-50%, calc(50% - 1px));
      }
    }
  }
}
